{
  "openapi": "3.1.0",
  "info": {
    "title": "NextAPI Partners",
    "version": "1.0.0",
    "description": "API for NextAPI Partners. For authentication, use Basic Auth with your Client ID as the username and Client Secret as the password. The credentials should be Base64-encoded and included in the Authorization header."
  },
  "security": [
    {
      "Basic Auth": []
    }
  ],
  "tags": [
    {
      "name": "Partner",
      "description": "A Partner is a business organization that integrates with our payment services. Partners must meet compliance requirements and are granted API access controls to utilize our payment infrastructure."
    },
    {
      "name": "Account",
      "description": "An Account is a financial entity that holds funds and manages transactions. Accounts can be owned by a Partner or a Merchant."
    },
    {
      "name": "Account — Payment Methods",
      "description": "These payment methods are money-in-only ways for anyone to add money to a specific account. The system automatically generates these payment methods (like bank details or QR codes) to help track and reconcile which payments belong to which account. Each account can have multiple types of payment methods, but only one of each type - for example, one bank detail method and one QR code method per account. You can choose which types to enable for the accounts based on the users' needs."
    },
    {
      "name": "Payment Intent",
      "description": "A Payment Intent is a request to create a payment to collect funds from a customer. This includes creating a payment, selecting a payment method, generating a QR code, and managing the payment lifecycle."
    },
    {
      "name": "Payment",
      "description": "A Payment is a request to send funds to a payment method."
    },
    {
      "name": "Payout Request",
      "description": "A Payout Request represents a request to disburse funds. A single request can be split into multiple payouts based on settlement rail limitations (e.g. for an InstaPay payout, the request may be split into multiple payouts to handle the maximum payout amount per transaction)."
    },
    {
      "name": "Payout",
      "description": "A Payout is an individual disbursement transaction that is part of a Payout Request. Multiple payouts may be created to handle large disbursement amounts that exceed settlement rail limits."
    },
    {
      "name": "Transaction",
      "description": "A Transaction is a ledger record that groups related postings (movements of assets between accounts) to ensure they are committed atomically. This model enables complex payment flows by guaranteeing all-or-nothing execution of multiple account transfers."
    },
    {
      "name": "Webhook",
      "description": "Registering a Webhook allows you to receive events from the API. You can view the webhook events in the [Models](/docs#models) section."
    }
  ],
  "servers": [
    {
      "url": "https://api.partners.nextpay.world",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "Basic Auth": {
        "type": "http",
        "scheme": "basic",
        "description": "Authenticate using a Base64-encoded combination of Client ID and Client Secret."
      }
    },
    "schemas": {
      "[webhook] payment_intent.created": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the created payment intent.",
            "title": "Payment Intent ID",
            "example": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"
          },
          "created_at": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "title": "Created At",
            "example": "2024-07-15T10:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "title": "Updated At",
            "example": "2024-07-15T10:05:00Z"
          },
          "account_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the account associated with this payment intent.",
            "title": "Account ID",
            "example": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e"
          },
          "amount_cents": {
            "type": "integer",
            "minimum": 0,
            "description": "The payment amount in cents to collect. Examples: `100` for `1.00`, `82431` for `824.31`, `500000` for `5,000.00`",
            "title": "Amount in Cents",
            "example": 15000
          },
          "currency": {
            "type": "string",
            "enum": [
              "PHP"
            ],
            "description": "The currency of the payment amount",
            "title": "Currency",
            "example": "PHP"
          },
          "reference_number": {
            "type": "string",
            "description": "Unique reference number for the payment intent. This is used to identify the payment intent in the external system.",
            "title": "Reference Number",
            "example": "INV-2024-001"
          },
          "intent_created_at": {
            "type": "string",
            "description": "Timestamp when the actual payment intent was created by an external system.",
            "title": "Intent Created At",
            "example": "2024-07-15T09:59:00Z"
          },
          "payment_method_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Unique identifier of the payment method used",
            "title": "Payment Method ID",
            "example": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "succeeded",
              "failed",
              "canceled",
              "expired"
            ],
            "description": "Current status of the payment intent",
            "title": "Status",
            "example": "succeeded"
          },
          "metadata": {
            "description": "Additional data associated with the payment intent. This is a JSON object.",
            "title": "Metadata",
            "example": {
              "invoice_id": "INV-2024-001",
              "user_id": "USR-1122"
            }
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "p2m_mdr": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "p2m_flat_fee_cents": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^d+$"
              },
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "receipt": {
            "type": "object",
            "properties": {
              "receipt_id": {
                "type": "string",
                "description": "Unique identifier of the payment intent receipt.",
                "title": "Receipt ID",
                "example": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f80"
              },
              "transaction_id": {
                "type": "string",
                "description": "Unique identifier of the ledger transaction.",
                "title": "Transaction ID",
                "example": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8091"
              },
              "treasury_reference_no": {
                "type": "string",
                "description": "Unique ID from the treasury or banking system for the payment intent.",
                "title": "Treasury Reference No",
                "example": "TREF_112233"
              },
              "rails_reference_no": {
                "type": "string",
                "description": "Unique ID from th payment rails for the payment intent.",
                "title": "Rails Reference No",
                "example": "RREF_445566"
              },
              "remarks": {
                "type": "string",
                "description": "Additional remarks associated with the payment intent receipt.",
                "title": "Remarks",
                "example": "Payment received"
              },
              "registered_at": {
                "type": "string",
                "description": "Timestamp when the payment intent receipt was registered.",
                "title": "Registered At",
                "example": "2024-07-15T10:05:00Z"
              }
            },
            "required": [
              "receipt_id",
              "treasury_reference_no",
              "rails_reference_no"
            ],
            "description": "Receipt information associated with the payment intent. Only available if the payment intent has been fully paid.",
            "title": "Receipt"
          },
          "webhook_event_type": {
            "type": "string",
            "enum": [
              "payment_intent.created"
            ],
            "description": "The type of webhook event.",
            "title": "Webhook Event Type",
            "example": "payment_intent.created"
          }
        },
        "required": [
          "id",
          "created_at",
          "updated_at",
          "account_id",
          "amount_cents",
          "currency",
          "reference_number",
          "intent_created_at",
          "payment_method_id",
          "status",
          "webhook_event_type"
        ],
        "description": "Occurs whenever a new payment intent is successfully created via the API. This event signifies the start of the payment process. The payload includes the full payment intent object.",
        "title": "[Webhook] PaymentIntent.Created"
      },
      "[webhook] payment_intent.succeeded": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the created payment intent.",
            "title": "Payment Intent ID",
            "example": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"
          },
          "created_at": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "title": "Created At",
            "example": "2024-07-15T10:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "title": "Updated At",
            "example": "2024-07-15T10:05:00Z"
          },
          "account_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the account associated with this payment intent.",
            "title": "Account ID",
            "example": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e"
          },
          "amount_cents": {
            "type": "integer",
            "minimum": 0,
            "description": "The payment amount in cents to collect. Examples: `100` for `1.00`, `82431` for `824.31`, `500000` for `5,000.00`",
            "title": "Amount in Cents",
            "example": 15000
          },
          "currency": {
            "type": "string",
            "enum": [
              "PHP"
            ],
            "description": "The currency of the payment amount",
            "title": "Currency",
            "example": "PHP"
          },
          "reference_number": {
            "type": "string",
            "description": "Unique reference number for the payment intent. This is used to identify the payment intent in the external system.",
            "title": "Reference Number",
            "example": "INV-2024-001"
          },
          "intent_created_at": {
            "type": "string",
            "description": "Timestamp when the actual payment intent was created by an external system.",
            "title": "Intent Created At",
            "example": "2024-07-15T09:59:00Z"
          },
          "payment_method_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Unique identifier of the payment method used",
            "title": "Payment Method ID",
            "example": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "succeeded",
              "failed",
              "canceled",
              "expired"
            ],
            "description": "Current status of the payment intent",
            "title": "Status",
            "example": "succeeded"
          },
          "metadata": {
            "description": "Additional data associated with the payment intent. This is a JSON object.",
            "title": "Metadata",
            "example": {
              "invoice_id": "INV-2024-001",
              "user_id": "USR-1122"
            }
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "p2m_mdr": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "p2m_flat_fee_cents": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^d+$"
              },
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "receipt": {
            "type": "object",
            "properties": {
              "receipt_id": {
                "type": "string",
                "description": "Unique identifier of the payment intent receipt.",
                "title": "Receipt ID",
                "example": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f80"
              },
              "transaction_id": {
                "type": "string",
                "description": "Unique identifier of the ledger transaction.",
                "title": "Transaction ID",
                "example": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8091"
              },
              "treasury_reference_no": {
                "type": "string",
                "description": "Unique ID from the treasury or banking system for the payment intent.",
                "title": "Treasury Reference No",
                "example": "TREF_112233"
              },
              "rails_reference_no": {
                "type": "string",
                "description": "Unique ID from th payment rails for the payment intent.",
                "title": "Rails Reference No",
                "example": "RREF_445566"
              },
              "remarks": {
                "type": "string",
                "description": "Additional remarks associated with the payment intent receipt.",
                "title": "Remarks",
                "example": "Payment received"
              },
              "registered_at": {
                "type": "string",
                "description": "Timestamp when the payment intent receipt was registered.",
                "title": "Registered At",
                "example": "2024-07-15T10:05:00Z"
              }
            },
            "required": [
              "receipt_id",
              "treasury_reference_no",
              "rails_reference_no"
            ],
            "description": "Receipt information associated with the payment intent. Only available if the payment intent has been fully paid.",
            "title": "Receipt"
          },
          "webhook_event_type": {
            "type": "string",
            "enum": [
              "payment_intent.succeeded"
            ],
            "description": "The type of webhook event.",
            "title": "Webhook Event Type",
            "example": "payment_intent.succeeded"
          }
        },
        "required": [
          "id",
          "created_at",
          "updated_at",
          "account_id",
          "amount_cents",
          "currency",
          "reference_number",
          "intent_created_at",
          "payment_method_id",
          "status",
          "webhook_event_type"
        ],
        "description": "Occurs when a payment associated with the payment intent has been successfully completed and confirmed. The payload includes the updated payment intent object, potentially with receipt details.",
        "title": "[Webhook] PaymentIntent.Succeeded"
      },
      "[webhook] payment_intent.failed": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the created payment intent.",
            "title": "Payment Intent ID",
            "example": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"
          },
          "created_at": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "title": "Created At",
            "example": "2024-07-15T10:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "title": "Updated At",
            "example": "2024-07-15T10:05:00Z"
          },
          "account_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the account associated with this payment intent.",
            "title": "Account ID",
            "example": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e"
          },
          "amount_cents": {
            "type": "integer",
            "minimum": 0,
            "description": "The payment amount in cents to collect. Examples: `100` for `1.00`, `82431` for `824.31`, `500000` for `5,000.00`",
            "title": "Amount in Cents",
            "example": 15000
          },
          "currency": {
            "type": "string",
            "enum": [
              "PHP"
            ],
            "description": "The currency of the payment amount",
            "title": "Currency",
            "example": "PHP"
          },
          "reference_number": {
            "type": "string",
            "description": "Unique reference number for the payment intent. This is used to identify the payment intent in the external system.",
            "title": "Reference Number",
            "example": "INV-2024-001"
          },
          "intent_created_at": {
            "type": "string",
            "description": "Timestamp when the actual payment intent was created by an external system.",
            "title": "Intent Created At",
            "example": "2024-07-15T09:59:00Z"
          },
          "payment_method_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Unique identifier of the payment method used",
            "title": "Payment Method ID",
            "example": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "succeeded",
              "failed",
              "canceled",
              "expired"
            ],
            "description": "Current status of the payment intent",
            "title": "Status",
            "example": "succeeded"
          },
          "metadata": {
            "description": "Additional data associated with the payment intent. This is a JSON object.",
            "title": "Metadata",
            "example": {
              "invoice_id": "INV-2024-001",
              "user_id": "USR-1122"
            }
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "p2m_mdr": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "p2m_flat_fee_cents": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^d+$"
              },
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "receipt": {
            "type": "object",
            "properties": {
              "receipt_id": {
                "type": "string",
                "description": "Unique identifier of the payment intent receipt.",
                "title": "Receipt ID",
                "example": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f80"
              },
              "transaction_id": {
                "type": "string",
                "description": "Unique identifier of the ledger transaction.",
                "title": "Transaction ID",
                "example": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8091"
              },
              "treasury_reference_no": {
                "type": "string",
                "description": "Unique ID from the treasury or banking system for the payment intent.",
                "title": "Treasury Reference No",
                "example": "TREF_112233"
              },
              "rails_reference_no": {
                "type": "string",
                "description": "Unique ID from th payment rails for the payment intent.",
                "title": "Rails Reference No",
                "example": "RREF_445566"
              },
              "remarks": {
                "type": "string",
                "description": "Additional remarks associated with the payment intent receipt.",
                "title": "Remarks",
                "example": "Payment received"
              },
              "registered_at": {
                "type": "string",
                "description": "Timestamp when the payment intent receipt was registered.",
                "title": "Registered At",
                "example": "2024-07-15T10:05:00Z"
              }
            },
            "required": [
              "receipt_id",
              "treasury_reference_no",
              "rails_reference_no"
            ],
            "description": "Receipt information associated with the payment intent. Only available if the payment intent has been fully paid.",
            "title": "Receipt"
          },
          "webhook_event_type": {
            "type": "string",
            "enum": [
              "payment_intent.failed"
            ],
            "description": "The type of webhook event.",
            "title": "Webhook Event Type",
            "example": "payment_intent.failed"
          },
          "failure_reason": {
            "type": "string",
            "description": "Reason for the failure.",
            "title": "Failure Reason",
            "example": "Payment declined by the bank."
          },
          "failure_context": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "string"
              }
            },
            "description": "Context of the failure.",
            "title": "Failure Context"
          }
        },
        "required": [
          "id",
          "created_at",
          "updated_at",
          "account_id",
          "amount_cents",
          "currency",
          "reference_number",
          "intent_created_at",
          "payment_method_id",
          "status",
          "webhook_event_type"
        ],
        "description": "Occurs when a payment attempt for the payment intent fails. This could be due to various reasons like insufficient funds, declined card, or expiration. The payload includes the payment intent object and an optional `failure_reason`.",
        "title": "[Webhook] PaymentIntent.Failed"
      },
      "[webhook] payment_intent.canceled": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the created payment intent.",
            "title": "Payment Intent ID",
            "example": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"
          },
          "created_at": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "title": "Created At",
            "example": "2024-07-15T10:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "title": "Updated At",
            "example": "2024-07-15T10:05:00Z"
          },
          "account_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the account associated with this payment intent.",
            "title": "Account ID",
            "example": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e"
          },
          "amount_cents": {
            "type": "integer",
            "minimum": 0,
            "description": "The payment amount in cents to collect. Examples: `100` for `1.00`, `82431` for `824.31`, `500000` for `5,000.00`",
            "title": "Amount in Cents",
            "example": 15000
          },
          "currency": {
            "type": "string",
            "enum": [
              "PHP"
            ],
            "description": "The currency of the payment amount",
            "title": "Currency",
            "example": "PHP"
          },
          "reference_number": {
            "type": "string",
            "description": "Unique reference number for the payment intent. This is used to identify the payment intent in the external system.",
            "title": "Reference Number",
            "example": "INV-2024-001"
          },
          "intent_created_at": {
            "type": "string",
            "description": "Timestamp when the actual payment intent was created by an external system.",
            "title": "Intent Created At",
            "example": "2024-07-15T09:59:00Z"
          },
          "payment_method_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Unique identifier of the payment method used",
            "title": "Payment Method ID",
            "example": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "succeeded",
              "failed",
              "canceled",
              "expired"
            ],
            "description": "Current status of the payment intent",
            "title": "Status",
            "example": "succeeded"
          },
          "metadata": {
            "description": "Additional data associated with the payment intent. This is a JSON object.",
            "title": "Metadata",
            "example": {
              "invoice_id": "INV-2024-001",
              "user_id": "USR-1122"
            }
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "p2m_mdr": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "p2m_flat_fee_cents": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^d+$"
              },
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "receipt": {
            "type": "object",
            "properties": {
              "receipt_id": {
                "type": "string",
                "description": "Unique identifier of the payment intent receipt.",
                "title": "Receipt ID",
                "example": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f80"
              },
              "transaction_id": {
                "type": "string",
                "description": "Unique identifier of the ledger transaction.",
                "title": "Transaction ID",
                "example": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8091"
              },
              "treasury_reference_no": {
                "type": "string",
                "description": "Unique ID from the treasury or banking system for the payment intent.",
                "title": "Treasury Reference No",
                "example": "TREF_112233"
              },
              "rails_reference_no": {
                "type": "string",
                "description": "Unique ID from th payment rails for the payment intent.",
                "title": "Rails Reference No",
                "example": "RREF_445566"
              },
              "remarks": {
                "type": "string",
                "description": "Additional remarks associated with the payment intent receipt.",
                "title": "Remarks",
                "example": "Payment received"
              },
              "registered_at": {
                "type": "string",
                "description": "Timestamp when the payment intent receipt was registered.",
                "title": "Registered At",
                "example": "2024-07-15T10:05:00Z"
              }
            },
            "required": [
              "receipt_id",
              "treasury_reference_no",
              "rails_reference_no"
            ],
            "description": "Receipt information associated with the payment intent. Only available if the payment intent has been fully paid.",
            "title": "Receipt"
          },
          "webhook_event_type": {
            "type": "string",
            "enum": [
              "payment_intent.canceled"
            ],
            "description": "The type of webhook event.",
            "title": "Webhook Event Type",
            "example": "payment_intent.canceled"
          }
        },
        "required": [
          "id",
          "created_at",
          "updated_at",
          "account_id",
          "amount_cents",
          "currency",
          "reference_number",
          "intent_created_at",
          "payment_method_id",
          "status",
          "webhook_event_type"
        ],
        "description": "Occurs when a payment intent is explicitly canceled via the API before completion. The payload includes the canceled payment intent object.",
        "title": "[Webhook] PaymentIntent.Canceled"
      },
      "[webhook] payment_intent.expired": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the created payment intent.",
            "title": "Payment Intent ID",
            "example": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"
          },
          "created_at": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "title": "Created At",
            "example": "2024-07-15T10:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "title": "Updated At",
            "example": "2024-07-15T10:05:00Z"
          },
          "account_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the account associated with this payment intent.",
            "title": "Account ID",
            "example": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e"
          },
          "amount_cents": {
            "type": "integer",
            "minimum": 0,
            "description": "The payment amount in cents to collect. Examples: `100` for `1.00`, `82431` for `824.31`, `500000` for `5,000.00`",
            "title": "Amount in Cents",
            "example": 15000
          },
          "currency": {
            "type": "string",
            "enum": [
              "PHP"
            ],
            "description": "The currency of the payment amount",
            "title": "Currency",
            "example": "PHP"
          },
          "reference_number": {
            "type": "string",
            "description": "Unique reference number for the payment intent. This is used to identify the payment intent in the external system.",
            "title": "Reference Number",
            "example": "INV-2024-001"
          },
          "intent_created_at": {
            "type": "string",
            "description": "Timestamp when the actual payment intent was created by an external system.",
            "title": "Intent Created At",
            "example": "2024-07-15T09:59:00Z"
          },
          "payment_method_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Unique identifier of the payment method used",
            "title": "Payment Method ID",
            "example": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "succeeded",
              "failed",
              "canceled",
              "expired"
            ],
            "description": "Current status of the payment intent",
            "title": "Status",
            "example": "succeeded"
          },
          "metadata": {
            "description": "Additional data associated with the payment intent. This is a JSON object.",
            "title": "Metadata",
            "example": {
              "invoice_id": "INV-2024-001",
              "user_id": "USR-1122"
            }
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "p2m_mdr": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "p2m_flat_fee_cents": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^d+$"
              },
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "receipt": {
            "type": "object",
            "properties": {
              "receipt_id": {
                "type": "string",
                "description": "Unique identifier of the payment intent receipt.",
                "title": "Receipt ID",
                "example": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f80"
              },
              "transaction_id": {
                "type": "string",
                "description": "Unique identifier of the ledger transaction.",
                "title": "Transaction ID",
                "example": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8091"
              },
              "treasury_reference_no": {
                "type": "string",
                "description": "Unique ID from the treasury or banking system for the payment intent.",
                "title": "Treasury Reference No",
                "example": "TREF_112233"
              },
              "rails_reference_no": {
                "type": "string",
                "description": "Unique ID from th payment rails for the payment intent.",
                "title": "Rails Reference No",
                "example": "RREF_445566"
              },
              "remarks": {
                "type": "string",
                "description": "Additional remarks associated with the payment intent receipt.",
                "title": "Remarks",
                "example": "Payment received"
              },
              "registered_at": {
                "type": "string",
                "description": "Timestamp when the payment intent receipt was registered.",
                "title": "Registered At",
                "example": "2024-07-15T10:05:00Z"
              }
            },
            "required": [
              "receipt_id",
              "treasury_reference_no",
              "rails_reference_no"
            ],
            "description": "Receipt information associated with the payment intent. Only available if the payment intent has been fully paid.",
            "title": "Receipt"
          },
          "webhook_event_type": {
            "type": "string",
            "enum": [
              "payment_intent.expired"
            ],
            "description": "The type of webhook event.",
            "title": "Webhook Event Type",
            "example": "payment_intent.expired"
          }
        },
        "required": [
          "id",
          "created_at",
          "updated_at",
          "account_id",
          "amount_cents",
          "currency",
          "reference_number",
          "intent_created_at",
          "payment_method_id",
          "status",
          "webhook_event_type"
        ],
        "description": "Occurs when a payment intent automatically expires due to reaching its expiration time without being completed. The payload includes the expired payment intent object.",
        "title": "[Webhook] PaymentIntent.Expired"
      },
      "[webhook] deposit.confirmed": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string",
            "description": "Unique identifier of the account associated with this deposit.",
            "title": "Account ID",
            "example": "a3b4c5d6-e7f8-4091-a2b3-c4d5e6f7089a"
          },
          "amount_cents": {
            "type": "integer",
            "minimum": 0,
            "description": "Deposit amount in cents.",
            "title": "Amount in Cents",
            "example": 1000000
          },
          "fee_cents": {
            "type": "integer",
            "minimum": 0,
            "description": "Fee charged for the deposit in cents.",
            "title": "Fee in Cents",
            "example": 0
          },
          "created_at": {
            "type": "string",
            "description": "Timestamp when the deposit record was created.",
            "title": "Created At",
            "example": "2024-07-19T14:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Timestamp when the deposit record was last updated (e.g., confirmed).",
            "title": "Updated At",
            "example": "2024-07-19T14:02:00Z"
          },
          "currency": {
            "type": "string",
            "enum": [
              "PHP"
            ]
          },
          "receipt": {
            "type": "object",
            "properties": {
              "receipt_id": {
                "type": "string",
                "description": "Unique identifier of the deposit receipt.",
                "title": "Receipt ID",
                "example": "b4c5d6e7-f809-41a2-b3c4-d5e6f7089a0b"
              },
              "transaction_id": {
                "type": "string",
                "description": "Unique identifier of the ledger transaction.",
                "title": "Transaction ID",
                "example": "c5d6e7f8-091a-42b3-c4d5-e6f7089a0b1c"
              },
              "treasury_reference_no": {
                "type": "string",
                "description": "Unique ID from the treasury or banking system for the deposit.",
                "title": "Treasury Reference No",
                "example": "TREF_DEP_334455"
              },
              "rails_reference_no": {
                "type": "string",
                "description": "Unique ID from the deposit rails for the deposit.",
                "title": "Rails Reference No",
                "example": "RREF_DEP_667788"
              },
              "remarks": {
                "type": "string",
                "description": "Additional remarks associated with the deposit receipt.",
                "title": "Remarks",
                "example": "Manual deposit confirmation"
              },
              "registered_at": {
                "type": "string",
                "description": "Timestamp when the deposit receipt was registered.",
                "title": "Registered At",
                "example": "2024-07-19T14:02:00Z"
              }
            },
            "required": [
              "receipt_id",
              "treasury_reference_no",
              "rails_reference_no"
            ],
            "description": "Receipt information associated with the confirmed deposit.",
            "title": "Receipt"
          },
          "webhook_event_type": {
            "type": "string",
            "enum": [
              "deposit.confirmed"
            ],
            "description": "The type of webhook event.",
            "title": "Webhook Event Type",
            "example": "deposit.confirmed"
          }
        },
        "required": [
          "account_id",
          "amount_cents",
          "fee_cents",
          "created_at",
          "updated_at",
          "currency",
          "receipt",
          "webhook_event_type"
        ],
        "description": "Occurs when funds deposited into a partner's account have been successfully confirmed and credited. The payload contains details about the deposit amount, fees, and associated receipt information.",
        "title": "[Webhook] Deposit.Confirmed"
      },
      "[webhook] direct_transfer.received": {
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string",
            "description": "Unique identifier of the ledger transaction.",
            "title": "Transaction ID"
          },
          "destination_account_id": {
            "type": "string",
            "description": "Unique identifier of the destination account.",
            "title": "Destination Account ID",
            "example": "a3b4c5d6-e7f8-4091-a2b3-c4d5e6f7089a"
          },
          "destination_workspace_id": {
            "type": "string",
            "description": "Unique identifier of the destination workspace.",
            "title": "Destination Workspace ID",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "destination_account_name": {
            "type": "string",
            "description": "Name of the destination account.",
            "title": "Destination Account Name",
            "example": "Supplier Corp Inc."
          },
          "source_account_id": {
            "type": "string",
            "description": "Unique identifier of the source account.",
            "title": "Source Account ID",
            "example": "a3b4c5d6-e7f8-4091-a2b3-c4d5e6f7089a"
          },
          "source_workspace_id": {
            "type": "string",
            "description": "Unique identifier of the source workspace.",
            "title": "Source Workspace ID",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "source_account_name": {
            "type": "string",
            "description": "Name of the source account.",
            "title": "Source Account Name",
            "example": "Supplier Corp Inc."
          },
          "amount_cents": {
            "type": "integer",
            "minimum": 0,
            "description": "Amount of the direct transfer in cents.",
            "title": "Amount in Cents",
            "example": 100000
          },
          "fee_cents": {
            "type": "integer",
            "minimum": 0,
            "description": "Fee of the direct transfer in cents.",
            "title": "Fee in Cents",
            "example": 0
          },
          "transferred_at": {
            "type": "string",
            "description": "Timestamp when the direct transfer was transferred in UTC+0 timezone.",
            "title": "Transferred At",
            "example": "2024-07-19T14:00:00Z"
          },
          "webhook_event_type": {
            "type": "string",
            "enum": [
              "direct_transfer.received"
            ],
            "description": "The type of webhook event.",
            "title": "Webhook Event Type",
            "example": "direct_transfer.received"
          }
        },
        "required": [
          "transaction_id",
          "destination_account_id",
          "destination_workspace_id",
          "destination_account_name",
          "source_account_id",
          "source_workspace_id",
          "source_account_name",
          "amount_cents",
          "fee_cents",
          "transferred_at",
          "webhook_event_type"
        ],
        "description": "Occurs when a direct transfer is received into a partner's account. The payload contains details about the transfer amount, fees, and associated receipt information.",
        "title": "[Webhook] DirectTransfer.Received"
      },
      "[webhook] payout.succeeded": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the individual payout.",
            "title": "Payout ID",
            "example": "c9d0e1f2-a3b4-4c5d-6e7f-8091a2b3c4d5"
          },
          "created_at": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "title": "Created At",
            "example": "2024-07-17T12:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "title": "Updated At",
            "example": "2024-07-17T12:30:00Z"
          },
          "payout_request_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the payout request this payout belongs to",
            "title": "Payout Request ID",
            "example": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8091a2"
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "processing_failed",
              "reconciling",
              "succeeded",
              "failed"
            ],
            "description": "Current status of the individual payout",
            "title": "Status",
            "example": "succeeded"
          },
          "amount_cents": {
            "type": "integer",
            "minimum": 0,
            "description": "The individual payout amount in cents. Examples: `100` for `1.00`, `82431` for `824.31`, `500000` for `5,000.00`",
            "title": "Amount in Cents",
            "example": 850000
          },
          "fee_cents": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^d+$"
              },
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "The fee amount charged for this individual payout in cents",
            "title": "Fee in Cents",
            "example": 1000
          },
          "currency": {
            "type": "string",
            "enum": [
              "PHP"
            ],
            "description": "The currency of the payout amount",
            "title": "Currency",
            "example": "PHP"
          },
          "bank_account_name": {
            "type": "string",
            "description": "Name of the bank account recipient for this payout",
            "title": "Bank Account Name",
            "example": "Supplier Corp Inc."
          },
          "bank_account_number": {
            "type": "string",
            "description": "Bank account number of the recipient for this payout",
            "title": "Bank Account Number",
            "example": "******9876"
          },
          "bank_code": {
            "type": "string",
            "description": "The BIC/SWIFT code of the bank for this payout",
            "title": "Bank Code",
            "example": "CHASUS33XXX"
          },
          "settlement_rail": {
            "type": "string",
            "enum": [
              "pesonet",
              "instapay"
            ],
            "description": "The payment rail used for settlement for this payout",
            "title": "Settlement Rail",
            "example": "pesonet"
          },
          "webhook_event_type": {
            "type": "string",
            "enum": [
              "payout.succeeded"
            ],
            "description": "The type of webhook event.",
            "title": "Webhook Event Type",
            "example": "payout.succeeded"
          },
          "receipt": {
            "type": "object",
            "properties": {
              "receipt_id": {
                "type": "string",
                "description": "Unique identifier of the payout receipt.",
                "title": "Receipt ID",
                "example": "d0e1f2a3-b4c5-4d6e-7f80-91a2b3c4d5e6"
              },
              "transaction_id": {
                "type": "string",
                "description": "Unique identifier of the ledger transaction, if applicable.",
                "title": "Transaction ID",
                "example": "e1f2a3b4-c5d6-4e7f-8091-a2b3c4d5e6f7"
              },
              "treasury_reference_no": {
                "type": "string",
                "description": "Unique ID from the treasury or banking system for the payout.",
                "title": "Treasury Reference No",
                "example": "TREF_PO_7788"
              },
              "rails_reference_no": {
                "type": "string",
                "description": "Unique ID from the payment rails for the payout.",
                "title": "Rails Reference No",
                "example": "RREF_PO_9900"
              },
              "remarks": {
                "type": "string",
                "description": "Additional remarks associated with the payout receipt (e.g., failure reason).",
                "title": "Remarks",
                "example": "Payout completed successfully"
              },
              "registered_at": {
                "type": "string",
                "description": "Timestamp when the payout receipt was registered.",
                "title": "Registered At",
                "example": "2024-07-17T12:30:00Z"
              }
            },
            "required": [
              "receipt_id",
              "treasury_reference_no",
              "rails_reference_no"
            ]
          }
        },
        "required": [
          "id",
          "created_at",
          "updated_at",
          "payout_request_id",
          "status",
          "amount_cents",
          "fee_cents",
          "currency",
          "bank_account_name",
          "bank_account_number",
          "bank_code",
          "settlement_rail",
          "webhook_event_type"
        ],
        "description": "Occurs when a payout initiated via a payout request has been successfully processed and the funds have reached the recipient's bank account. The payload includes the final payout object with receipt details.",
        "title": "[Webhook] Payout.Succeeded"
      },
      "[webhook] payout.failed": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the individual payout.",
            "title": "Payout ID",
            "example": "c9d0e1f2-a3b4-4c5d-6e7f-8091a2b3c4d5"
          },
          "created_at": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "title": "Created At",
            "example": "2024-07-17T12:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "title": "Updated At",
            "example": "2024-07-17T12:30:00Z"
          },
          "payout_request_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the payout request this payout belongs to",
            "title": "Payout Request ID",
            "example": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8091a2"
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "processing_failed",
              "reconciling",
              "succeeded",
              "failed"
            ],
            "description": "Current status of the individual payout",
            "title": "Status",
            "example": "succeeded"
          },
          "amount_cents": {
            "type": "integer",
            "minimum": 0,
            "description": "The individual payout amount in cents. Examples: `100` for `1.00`, `82431` for `824.31`, `500000` for `5,000.00`",
            "title": "Amount in Cents",
            "example": 850000
          },
          "fee_cents": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^d+$"
              },
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "The fee amount charged for this individual payout in cents",
            "title": "Fee in Cents",
            "example": 1000
          },
          "currency": {
            "type": "string",
            "enum": [
              "PHP"
            ],
            "description": "The currency of the payout amount",
            "title": "Currency",
            "example": "PHP"
          },
          "bank_account_name": {
            "type": "string",
            "description": "Name of the bank account recipient for this payout",
            "title": "Bank Account Name",
            "example": "Supplier Corp Inc."
          },
          "bank_account_number": {
            "type": "string",
            "description": "Bank account number of the recipient for this payout",
            "title": "Bank Account Number",
            "example": "******9876"
          },
          "bank_code": {
            "type": "string",
            "description": "The BIC/SWIFT code of the bank for this payout",
            "title": "Bank Code",
            "example": "CHASUS33XXX"
          },
          "settlement_rail": {
            "type": "string",
            "enum": [
              "pesonet",
              "instapay"
            ],
            "description": "The payment rail used for settlement for this payout",
            "title": "Settlement Rail",
            "example": "pesonet"
          },
          "webhook_event_type": {
            "type": "string",
            "enum": [
              "payout.failed"
            ],
            "description": "The type of webhook event.",
            "title": "Webhook Event Type",
            "example": "payout.failed"
          },
          "failure_context": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "string"
              }
            },
            "description": "Context of the failure.",
            "title": "Failure Context"
          },
          "receipt": {
            "type": "object",
            "properties": {
              "receipt_id": {
                "type": "string",
                "description": "Unique identifier of the payout receipt.",
                "title": "Receipt ID",
                "example": "d0e1f2a3-b4c5-4d6e-7f80-91a2b3c4d5e6"
              },
              "transaction_id": {
                "type": "string",
                "description": "Unique identifier of the ledger transaction, if applicable.",
                "title": "Transaction ID",
                "example": "e1f2a3b4-c5d6-4e7f-8091-a2b3c4d5e6f7"
              },
              "treasury_reference_no": {
                "type": "string",
                "description": "Unique ID from the treasury or banking system for the payout.",
                "title": "Treasury Reference No",
                "example": "TREF_PO_7788"
              },
              "rails_reference_no": {
                "type": "string",
                "description": "Unique ID from the payment rails for the payout.",
                "title": "Rails Reference No",
                "example": "RREF_PO_9900"
              },
              "remarks": {
                "type": "string",
                "description": "Additional remarks associated with the payout receipt (e.g., failure reason).",
                "title": "Remarks",
                "example": "Payout completed successfully"
              },
              "registered_at": {
                "type": "string",
                "description": "Timestamp when the payout receipt was registered.",
                "title": "Registered At",
                "example": "2024-07-17T12:30:00Z"
              }
            },
            "required": [
              "receipt_id",
              "treasury_reference_no",
              "rails_reference_no"
            ]
          }
        },
        "required": [
          "id",
          "created_at",
          "updated_at",
          "payout_request_id",
          "status",
          "amount_cents",
          "fee_cents",
          "currency",
          "bank_account_name",
          "bank_account_number",
          "bank_code",
          "settlement_rail",
          "webhook_event_type"
        ],
        "description": "Occurs when a payout attempt fails during processing or reconciliation (e.g., incorrect bank details, bank rejection). The payload includes the payout object with its final failed status.",
        "title": "[Webhook] Payout.Failed"
      },
      "[webhook] payout.processed": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the individual payout.",
            "title": "Payout ID",
            "example": "c9d0e1f2-a3b4-4c5d-6e7f-8091a2b3c4d5"
          },
          "created_at": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "title": "Created At",
            "example": "2024-07-17T12:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "title": "Updated At",
            "example": "2024-07-17T12:30:00Z"
          },
          "payout_request_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the payout request this payout belongs to",
            "title": "Payout Request ID",
            "example": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8091a2"
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "processing_failed",
              "reconciling",
              "succeeded",
              "failed"
            ],
            "description": "Current status of the individual payout",
            "title": "Status",
            "example": "succeeded"
          },
          "amount_cents": {
            "type": "integer",
            "minimum": 0,
            "description": "The individual payout amount in cents. Examples: `100` for `1.00`, `82431` for `824.31`, `500000` for `5,000.00`",
            "title": "Amount in Cents",
            "example": 850000
          },
          "fee_cents": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^d+$"
              },
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "The fee amount charged for this individual payout in cents",
            "title": "Fee in Cents",
            "example": 1000
          },
          "currency": {
            "type": "string",
            "enum": [
              "PHP"
            ],
            "description": "The currency of the payout amount",
            "title": "Currency",
            "example": "PHP"
          },
          "bank_account_name": {
            "type": "string",
            "description": "Name of the bank account recipient for this payout",
            "title": "Bank Account Name",
            "example": "Supplier Corp Inc."
          },
          "bank_account_number": {
            "type": "string",
            "description": "Bank account number of the recipient for this payout",
            "title": "Bank Account Number",
            "example": "******9876"
          },
          "bank_code": {
            "type": "string",
            "description": "The BIC/SWIFT code of the bank for this payout",
            "title": "Bank Code",
            "example": "CHASUS33XXX"
          },
          "settlement_rail": {
            "type": "string",
            "enum": [
              "pesonet",
              "instapay"
            ],
            "description": "The payment rail used for settlement for this payout",
            "title": "Settlement Rail",
            "example": "pesonet"
          },
          "webhook_event_type": {
            "type": "string",
            "enum": [
              "payout.processed"
            ],
            "description": "The type of webhook event.",
            "title": "Webhook Event Type",
            "example": "payout.processed"
          }
        },
        "required": [
          "id",
          "created_at",
          "updated_at",
          "payout_request_id",
          "status",
          "amount_cents",
          "fee_cents",
          "currency",
          "bank_account_name",
          "bank_account_number",
          "bank_code",
          "settlement_rail",
          "webhook_event_type"
        ],
        "description": "Occurs when a payout has been successfully sent to the payment provider for processing. This indicates the payout is in transit but has not yet been confirmed as received by the recipient. The payload includes the payout object with processing details.",
        "title": "[Webhook] Payout.Processed"
      },
      "[webhook] payout.processing_failed": {
        "type": "object",
        "properties": {
          "id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Unique identifier of the payout.",
            "title": "Payout ID",
            "example": "c9d0e1f2-a3b4-4c5d-6e7f-8091a2b3c4d5"
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "Timestamp when the payout was created.",
            "title": "Created At",
            "example": "2024-07-17T12:30:00Z"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "Timestamp when the payout was last updated.",
            "title": "Updated At",
            "example": "2024-07-17T12:30:00Z"
          },
          "payout_request_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the payout request this payout belongs to",
            "title": "Payout Request ID",
            "example": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8091a2"
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "processing_failed",
              "reconciling",
              "succeeded",
              "failed"
            ],
            "description": "Current status of the individual payout",
            "title": "Status",
            "example": "succeeded"
          },
          "amount_cents": {
            "type": "integer",
            "minimum": 0,
            "description": "The individual payout amount in cents. Examples: `100` for `1.00`, `82431` for `824.31`, `500000` for `5,000.00`",
            "title": "Amount in Cents",
            "example": 850000
          },
          "fee_cents": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^d+$"
              },
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "The fee amount charged for this individual payout in cents",
            "title": "Fee in Cents",
            "example": 1000
          },
          "currency": {
            "type": "string",
            "enum": [
              "PHP"
            ],
            "description": "The currency of the payout amount",
            "title": "Currency",
            "example": "PHP"
          },
          "bank_account_name": {
            "type": "string",
            "description": "Name of the bank account recipient for this payout",
            "title": "Bank Account Name",
            "example": "Supplier Corp Inc."
          },
          "bank_account_number": {
            "type": "string",
            "description": "Bank account number of the recipient for this payout",
            "title": "Bank Account Number",
            "example": "******9876"
          },
          "bank_code": {
            "type": "string",
            "description": "The BIC/SWIFT code of the bank for this payout",
            "title": "Bank Code",
            "example": "CHASUS33XXX"
          },
          "settlement_rail": {
            "type": "string",
            "enum": [
              "pesonet",
              "instapay"
            ],
            "description": "The payment rail used for settlement for this payout",
            "title": "Settlement Rail",
            "example": "pesonet"
          },
          "webhook_event_type": {
            "type": "string",
            "enum": [
              "payout.processing_failed"
            ],
            "description": "The type of webhook event.",
            "title": "Webhook Event Type",
            "example": "payout.processing_failed"
          },
          "processing_failure_reason": {
            "type": "string",
            "description": "Reason for the processing failure.",
            "title": "Processing Failure Reason",
            "example": "Insufficient funds"
          },
          "failure_context": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "string"
              }
            },
            "description": "Context of the failure.",
            "title": "Failure Context"
          }
        },
        "required": [
          "id",
          "created_at",
          "updated_at",
          "payout_request_id",
          "status",
          "amount_cents",
          "fee_cents",
          "currency",
          "bank_account_name",
          "bank_account_number",
          "bank_code",
          "settlement_rail",
          "webhook_event_type"
        ],
        "description": "Occurs when a payout has failed to be sent to the payment provider for processing. This indicates the payout is not in transit. The payload includes the payout object with processing details.",
        "title": "[Webhook] Payout.ProcessingFailed"
      },
      "[webhook] payout_request.processed": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the payout request.",
            "title": "Payout Request ID",
            "example": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8091a2"
          },
          "created_at": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "title": "Created At",
            "example": "2024-07-16T11:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "title": "Updated At",
            "example": "2024-07-16T11:05:00Z"
          },
          "batch_payout_request_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Unique identifier of the batch payout request, if applicable.",
            "title": "Batch Payout Request ID",
            "example": null
          },
          "partner_workspace_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the partner workspace.",
            "title": "Partner Workspace ID",
            "example": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8091a2b3"
          },
          "source_account_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the account where the funds will be pulled from.",
            "title": "Source Account ID",
            "example": "b8c9d0e1-f2a3-4b4c-5d6e-7f8091a2b3c4"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional external identifier provided by the partner for the payout request.",
            "title": "External ID",
            "example": "PAYOUT-JULY-16"
          },
          "label": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional label for the payout request.",
            "title": "Label",
            "example": "July 16 Supplier Payment"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional description for the payout request.",
            "title": "Description",
            "example": "Payment for supplier invoice #S-5678"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "authorization_pending",
              "authorized",
              "rejected",
              "canceled",
              "queued",
              "queue_failed",
              "processed",
              "processing_failed"
            ],
            "description": "Current status of the payout request",
            "title": "Status",
            "example": "processed"
          },
          "amount_cents": {
            "type": "integer",
            "minimum": 0,
            "description": "The total payout request amount in cents. Examples: `100` for `1.00`, `82431` for `824.31`, `500000` for `5,000.00`",
            "title": "Amount in Cents",
            "example": 850000
          },
          "currency": {
            "type": "string",
            "description": "The currency of the payout request amount",
            "title": "Currency",
            "example": "PHP"
          },
          "bank_account_name": {
            "type": "string",
            "description": "Default bank account name if not specified per payout item.",
            "title": "Bank Account Name",
            "example": "Supplier Corp Inc."
          },
          "bank_account_number": {
            "type": "string",
            "description": "Default bank account number if not specified per payout item.",
            "title": "Bank Account Number",
            "example": "******9876"
          },
          "bank_code": {
            "type": "string",
            "description": "The BIC/SWIFT code of the recipient's bank",
            "title": "Bank Code",
            "example": "CUOBPHM2XXX"
          },
          "settlement_rail": {
            "type": "string",
            "enum": [
              "pesonet",
              "instapay"
            ],
            "description": "Default payment rail requested for settlement if not specified per payout item.",
            "title": "Settlement Rail",
            "example": "pesonet"
          },
          "email_receipt_to": {
            "type": [
              "string",
              "null"
            ],
            "description": "Default email address for payout receipt if not specified per payout item.",
            "title": "Email Receipt To",
            "example": "accounting@suppliercorp.com"
          },
          "payout_memo": {
            "type": [
              "string",
              "null"
            ],
            "description": "Default memo for the payout request if not specified per payout item.",
            "title": "Payout Memo",
            "example": "Invoice S-5678"
          },
          "payout_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Timestamp when the payout request is scheduled to be processed. If null, processed immediately.",
            "title": "Payout At",
            "example": "2024-07-16T11:00:00Z"
          },
          "webhook_event_type": {
            "type": "string",
            "enum": [
              "payout_request.processed"
            ],
            "description": "The type of webhook event.",
            "title": "Webhook Event Type",
            "example": "payout_request.processed"
          },
          "payouts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "uuid",
                  "description": "Unique identifier of the generated payout. Null if payout creation failed.",
                  "title": "Payout ID",
                  "example": "c9d0e1f2-a3b4-4c5d-6e7f-8091a2b3c4d5"
                },
                "status": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "enum": [
                    "processing",
                    "processing_failed",
                    "reconciling",
                    "succeeded",
                    "failed"
                  ],
                  "description": "Status of the generated payout ('succeeded', 'failed', etc.). Null if payout creation failed.",
                  "title": "Payout Status",
                  "example": "succeeded"
                },
                "request_status": {
                  "type": "string",
                  "enum": [
                    "processed",
                    "failed"
                  ],
                  "description": "Indicates if processing this specific item succeeded or failed.",
                  "title": "Item Process Status",
                  "example": "processed"
                },
                "amount_cents": {
                  "anyOf": [
                    {
                      "type": "string",
                      "pattern": "^d+$"
                    },
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    }
                  ],
                  "description": "The payout amount in cents for this item.",
                  "title": "Amount in Cents",
                  "example": 850000
                },
                "currency": {
                  "type": "string",
                  "enum": [
                    "PHP"
                  ],
                  "description": "The currency of the payout amount",
                  "title": "Currency",
                  "example": "PHP"
                },
                "position": {
                  "type": "integer",
                  "minimum": 0,
                  "description": "0-indexed position of this payout within the original request's items.",
                  "title": "Position",
                  "example": 0
                },
                "failure_code": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "enum": [
                    "FAILED_TO_CREATE_PAYOUT",
                    "FAILED_TO_UPDATE_PAYOUT",
                    "PAYOUT_CREATION_FAILED",
                    "PAYOUT_STATUS_UPDATE_FAILED",
                    "LEDGER_PROCESS_FAILED",
                    "VENDOR_PAYOUT_FAILED",
                    "TASK_EXECUTION_FAILED"
                  ],
                  "description": "Reason for failure, if request_status is 'failed'.",
                  "title": "Failure Code",
                  "example": null
                }
              },
              "required": [
                "id",
                "status",
                "request_status",
                "amount_cents",
                "currency",
                "position",
                "failure_code"
              ]
            }
          }
        },
        "required": [
          "id",
          "created_at",
          "updated_at",
          "batch_payout_request_id",
          "partner_workspace_id",
          "source_account_id",
          "external_id",
          "label",
          "description",
          "status",
          "amount_cents",
          "currency",
          "bank_account_name",
          "bank_account_number",
          "bank_code",
          "settlement_rail",
          "email_receipt_to",
          "payout_memo",
          "webhook_event_type",
          "payouts"
        ],
        "description": "Occurs when a payout request (potentially containing multiple individual payouts) has finished processing. This event fires regardless of whether individual payouts succeeded or failed. Check the `payouts` array in the payload for the status of each individual payout attempt.",
        "title": "[Webhook] PayoutRequest.Processed"
      },
      "[webhook] payout_request.queued": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the payout request.",
            "title": "Payout Request ID",
            "example": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8091a2"
          },
          "created_at": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "title": "Created At",
            "example": "2024-07-16T11:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "title": "Updated At",
            "example": "2024-07-16T11:05:00Z"
          },
          "batch_payout_request_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Unique identifier of the batch payout request, if applicable.",
            "title": "Batch Payout Request ID",
            "example": null
          },
          "partner_workspace_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the partner workspace.",
            "title": "Partner Workspace ID",
            "example": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8091a2b3"
          },
          "source_account_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the account where the funds will be pulled from.",
            "title": "Source Account ID",
            "example": "b8c9d0e1-f2a3-4b4c-5d6e-7f8091a2b3c4"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional external identifier provided by the partner for the payout request.",
            "title": "External ID",
            "example": "PAYOUT-JULY-16"
          },
          "label": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional label for the payout request.",
            "title": "Label",
            "example": "July 16 Supplier Payment"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional description for the payout request.",
            "title": "Description",
            "example": "Payment for supplier invoice #S-5678"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "authorization_pending",
              "authorized",
              "rejected",
              "canceled",
              "queued",
              "queue_failed",
              "processed",
              "processing_failed"
            ],
            "description": "Current status of the payout request",
            "title": "Status",
            "example": "processed"
          },
          "amount_cents": {
            "type": "integer",
            "minimum": 0,
            "description": "The total payout request amount in cents. Examples: `100` for `1.00`, `82431` for `824.31`, `500000` for `5,000.00`",
            "title": "Amount in Cents",
            "example": 850000
          },
          "currency": {
            "type": "string",
            "description": "The currency of the payout request amount",
            "title": "Currency",
            "example": "PHP"
          },
          "bank_account_name": {
            "type": "string",
            "description": "Default bank account name if not specified per payout item.",
            "title": "Bank Account Name",
            "example": "Supplier Corp Inc."
          },
          "bank_account_number": {
            "type": "string",
            "description": "Default bank account number if not specified per payout item.",
            "title": "Bank Account Number",
            "example": "******9876"
          },
          "bank_code": {
            "type": "string",
            "description": "The BIC/SWIFT code of the recipient's bank",
            "title": "Bank Code",
            "example": "CUOBPHM2XXX"
          },
          "settlement_rail": {
            "type": "string",
            "enum": [
              "pesonet",
              "instapay"
            ],
            "description": "Default payment rail requested for settlement if not specified per payout item.",
            "title": "Settlement Rail",
            "example": "pesonet"
          },
          "email_receipt_to": {
            "type": [
              "string",
              "null"
            ],
            "description": "Default email address for payout receipt if not specified per payout item.",
            "title": "Email Receipt To",
            "example": "accounting@suppliercorp.com"
          },
          "payout_memo": {
            "type": [
              "string",
              "null"
            ],
            "description": "Default memo for the payout request if not specified per payout item.",
            "title": "Payout Memo",
            "example": "Invoice S-5678"
          },
          "payout_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Timestamp when the payout request is scheduled to be processed. If null, processed immediately.",
            "title": "Payout At",
            "example": "2024-07-16T11:00:00Z"
          },
          "webhook_event_type": {
            "type": "string",
            "enum": [
              "payout_request.queued"
            ],
            "description": "The type of webhook event.",
            "title": "Webhook Event Type",
            "example": "payout_request.queued"
          }
        },
        "required": [
          "id",
          "created_at",
          "updated_at",
          "batch_payout_request_id",
          "partner_workspace_id",
          "source_account_id",
          "external_id",
          "label",
          "description",
          "status",
          "amount_cents",
          "currency",
          "bank_account_name",
          "bank_account_number",
          "bank_code",
          "settlement_rail",
          "email_receipt_to",
          "payout_memo",
          "webhook_event_type"
        ],
        "description": "Occurs when a payout request is successfully accepted and queued for processing. Processing will happen according to its schedule (e.g., immediately or at a specified `payout_at` time). The payload includes the queued payout request object.",
        "title": "[Webhook] PayoutRequest.Queued"
      },
      "[webhook] payout_request.queue_failed": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the payout request.",
            "title": "Payout Request ID",
            "example": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8091a2"
          },
          "created_at": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "title": "Created At",
            "example": "2024-07-16T11:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "title": "Updated At",
            "example": "2024-07-16T11:05:00Z"
          },
          "batch_payout_request_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Unique identifier of the batch payout request, if applicable.",
            "title": "Batch Payout Request ID",
            "example": null
          },
          "partner_workspace_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the partner workspace.",
            "title": "Partner Workspace ID",
            "example": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8091a2b3"
          },
          "source_account_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the account where the funds will be pulled from.",
            "title": "Source Account ID",
            "example": "b8c9d0e1-f2a3-4b4c-5d6e-7f8091a2b3c4"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional external identifier provided by the partner for the payout request.",
            "title": "External ID",
            "example": "PAYOUT-JULY-16"
          },
          "label": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional label for the payout request.",
            "title": "Label",
            "example": "July 16 Supplier Payment"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional description for the payout request.",
            "title": "Description",
            "example": "Payment for supplier invoice #S-5678"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "authorization_pending",
              "authorized",
              "rejected",
              "canceled",
              "queued",
              "queue_failed",
              "processed",
              "processing_failed"
            ],
            "description": "Current status of the payout request",
            "title": "Status",
            "example": "processed"
          },
          "amount_cents": {
            "type": "integer",
            "minimum": 0,
            "description": "The total payout request amount in cents. Examples: `100` for `1.00`, `82431` for `824.31`, `500000` for `5,000.00`",
            "title": "Amount in Cents",
            "example": 850000
          },
          "currency": {
            "type": "string",
            "description": "The currency of the payout request amount",
            "title": "Currency",
            "example": "PHP"
          },
          "bank_account_name": {
            "type": "string",
            "description": "Default bank account name if not specified per payout item.",
            "title": "Bank Account Name",
            "example": "Supplier Corp Inc."
          },
          "bank_account_number": {
            "type": "string",
            "description": "Default bank account number if not specified per payout item.",
            "title": "Bank Account Number",
            "example": "******9876"
          },
          "bank_code": {
            "type": "string",
            "description": "The BIC/SWIFT code of the recipient's bank",
            "title": "Bank Code",
            "example": "CUOBPHM2XXX"
          },
          "settlement_rail": {
            "type": "string",
            "enum": [
              "pesonet",
              "instapay"
            ],
            "description": "Default payment rail requested for settlement if not specified per payout item.",
            "title": "Settlement Rail",
            "example": "pesonet"
          },
          "email_receipt_to": {
            "type": [
              "string",
              "null"
            ],
            "description": "Default email address for payout receipt if not specified per payout item.",
            "title": "Email Receipt To",
            "example": "accounting@suppliercorp.com"
          },
          "payout_memo": {
            "type": [
              "string",
              "null"
            ],
            "description": "Default memo for the payout request if not specified per payout item.",
            "title": "Payout Memo",
            "example": "Invoice S-5678"
          },
          "payout_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Timestamp when the payout request is scheduled to be processed. If null, processed immediately.",
            "title": "Payout At",
            "example": "2024-07-16T11:00:00Z"
          },
          "webhook_event_type": {
            "type": "string",
            "enum": [
              "payout_request.queue_failed"
            ],
            "description": "The type of webhook event.",
            "title": "Webhook Event Type",
            "example": "payout_request.queue_failed"
          },
          "failure_context": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "string"
              }
            },
            "description": "Context of the failure.",
            "title": "Failure Context"
          }
        },
        "required": [
          "id",
          "created_at",
          "updated_at",
          "batch_payout_request_id",
          "partner_workspace_id",
          "source_account_id",
          "external_id",
          "label",
          "description",
          "status",
          "amount_cents",
          "currency",
          "bank_account_name",
          "bank_account_number",
          "bank_code",
          "settlement_rail",
          "email_receipt_to",
          "payout_memo",
          "webhook_event_type"
        ],
        "description": "Occurs when a payout request could not be queued for processing due to validation errors or other issues during submission. The payload includes the payout request object with its failed status.",
        "title": "[Webhook] PayoutRequest.QueueFailed"
      },
      "[webhook] payout_request.creation_failed": {
        "type": "object",
        "properties": {
          "webhook_event_type": {
            "type": "string",
            "enum": [
              "payout_request.creation_failed"
            ],
            "description": "The type of webhook event.",
            "title": "Webhook Event Type",
            "example": "payout_request.creation_failed"
          },
          "failure_reason": {
            "type": "string",
            "description": "Reason for the failure.",
            "title": "Failure Reason",
            "example": "Payout request creation failed"
          },
          "failure_context": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "string"
              }
            },
            "description": "Context of the failure.",
            "title": "Failure Context"
          },
          "request_payload": {
            "type": "object",
            "properties": {
              "source_account_id": {
                "type": "string",
                "format": "uuid"
              },
              "external_id": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
              },
              "label": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^[a-zA-Z0-9\\s\\-\\_\\.\\,\\'\\!\\?\\/]+$"
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "amount_cents": {
                "type": "integer",
                "minimum": 100
              },
              "currency": {
                "type": "string",
                "enum": [
                  "PHP"
                ]
              },
              "settlement_rail": {
                "type": "string",
                "enum": [
                  "pesonet",
                  "instapay"
                ]
              },
              "payout_memo": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^[a-zA-Z0-9\\s\\-\\_\\.\\,\\'\\!\\?\\/]+$"
              },
              "status": {
                "type": "string",
                "enum": [
                  "draft",
                  "published"
                ]
              },
              "settlement_account": {
                "type": "object",
                "properties": {
                  "bank_account_name": {
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9\\s\\-_\\.\\,\\']+$"
                  },
                  "bank_account_number": {
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
                  },
                  "bank_code": {
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
                  }
                },
                "required": [
                  "bank_account_name",
                  "bank_account_number",
                  "bank_code"
                ]
              },
              "partner_payout_fee": {
                "type": "object",
                "properties": {
                  "amount_cents": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "destination_account_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": [
                  "amount_cents",
                  "destination_account_id"
                ]
              },
              "config": {
                "type": "object",
                "properties": {
                  "payout_at": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                }
              },
              "notification_config": {
                "type": "object",
                "properties": {
                  "sms": {
                    "type": "object",
                    "properties": {
                      "to": {
                        "type": "object",
                        "properties": {
                          "phone_number": {
                            "type": "string",
                            "pattern": "^\\+639\\d{9}$",
[...]
